html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

a {
  border-bottom: 2px solid #ffc600;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #FF8F00;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}