body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
    font-family: DeliciousRoman;
    src: url(http://www.font-face.com/fonts/delicious/Delicious-Roman.otf);
    font-weight:400;
}