.outletSection{
    width:60%;
    margin:0 auto;
    margin-top:1rem; 
    padding:10px;
}

.generalInfo{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.generalInfo > *{
    margin:0 8px;
}

.flagCode{
    width:32px;
    height:20px;
    
}

