.outletSection{
    width:60%;
    margin:0 auto;
    margin-top:1rem; 
    padding:10px;
    z-index: 10;
    box-shadow: 3px 5px 6px 0 rgba(0, 0, 0, 0.22), 0 1px 2px 0 rgba(0, 0, 0, 0.24);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.generalInfo{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.generalInfo > *{
    margin:0 8px;
}

