select {
  font-size: 1.1em;
  width: 20%;
  margin-top: 5px;
  padding-left: 5px;
  outline: none;
  border: 0;
  border-bottom: 1px solid #757575;
  margin-bottom: 2px;
  outline: none;
}
@media screen and (max-width: 1200px) {
	select{
    width:35%;
  }
}
@media screen and (max-width: 500px) {
	select{
    width:80%;
  }
}


